.skillcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
  margin-bottom: 50px;
}

.skillcontainer_image {
  background: url(../assets/desktop-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.5);
  height: 500px;
  margin-top: 110px;
  flex: 0.5;
  border-radius: 30px;
}

.skillcontainer_text {
  flex: 0.5;
}

@media only screen and (max-width: 480px) {
  .skillcontainer_image {
    display: none;
  }
  .skillcontainer_text {
    margin-top: 30px;
    flex: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .skillcontainer_image {
    display: none;
  }
  .skillcontainer_text {
    margin-top: 30px;
    flex: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .skillcontainer_image {
    display: none;
  }
  .skillcontainer_text {
    flex: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .skillcontainer_image {
    display: initial;
    height: 500px;
    margin: 30px 30px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1700px) {
  .skillcontainer_image {
    display: initial;
    height: 500px;
    margin-top: 50px;
    margin-left: 40px;
  }
}
