.contact-container {
  height: 100%;
  width: 100%;
  background: #f1f1f1;
  padding: 100px 50px;
  display: flex;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  box-shadow: 2px 2px 10px #000000;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  background: #fff;
  border-radius: 10px;
  width: 500px;
  height: 440px;
  flex: 0.5;
}

.address {
  width: 500px;
  height: 440px;
  flex: 0.5;
  background: #454545;
  color: #f1f1f1;
  padding: 5px 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-evenly;
}

.address h2 {
  margin-top: 10px;
}

.location,
.phone,
.email,
.links {
  margin: 15px 5px;
  display: flex;
  flex-direction: column;
}

.linkedin {
  display: flex;
  margin-top: 20px;
}

.github {
  display: flex;
  margin-top: 20px;
}

.linkedin a,
.github a {
  margin-left: 20px;
}

.form h1 {
  text-align: center;
  color: rgb(8, 8, 8);
  font-weight: bold;
  margin-top: 10px;
}

input {
  width: 85%;
  padding: 10px 0px;
  outline: none;
  /* box-shadow: 2px 2px 2px #000; */
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0.1));
}

.form label {
  margin-left: 10px;
  font-weight: 600;
  color: #585858;
}

.form textarea {
  text-align: initial;
  outline: none;
  width: 85%;
  margin: 3px 20px;
  /* box-shadow: 2px 2px 5px #000; */
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0.1));
}

::placeholder {
  color: #000;
  font-weight: 500;
  font-size: 15px;
  padding-left: 10px;
}

.contact_icons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  height: 20px;
  width: 20px;
}

.submit {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  background: #ff4800;
  outline: none;
  border: none;
  color: #fff;
  width: 90%;
  margin: 10px 13px;
  cursor: pointer;
}

button.swal2-cancel.btn.btn-danger,
button.swal2-confirm.btn.btn-success {
  color: #fff !important;
  padding: 10px 15px !important;
  outline: none;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
}

button.swal2-cancel.btn.btn-danger {
  margin-right: 10px !important;
  background: #dc3545 !important;
}

button.swal2-confirm.btn.btn-success {
  margin-left: 10px !important;
  background: #198754 !important;
}

#error-msg {
  color: #ff4800;
  font-weight: 600;
  margin: 20px;
}

:disabled {
  background: #ccc;
}

@media only screen and (max-width: 480px) {
  .contact-container {
    background: #f1f1f1;
    padding: 30px 10px;
  }

  .contact-form {
    width: 100%;
    flex: 1;
    flex-direction: column;
  }

  .form,
  .address {
    width: 100%;
  }

  .form input {
    margin: 5px 15px;
    outline: none;
  }
  .address h2 {
    text-align: center;
  }
  .address p {
    text-align: center;
    font-weight: 600;
    color: #ccc;
  }
  .location p,
  .phone p,
  .email p {
    text-align: start;
  }
  .social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .contact-container {
    background: #f1f1f1;
    padding: 20px;
    width: 100%;
    overflow-x: hidden;
  }

  .contact-form {
    width: 100%;
    flex: 1;
    flex-direction: column;
  }

  .form input {
    border-radius: 10px;
    /* filter: drop-shadow(1px 1px 1px rgba(0, 0, 0.1)); */
    margin: 5px 20px;
    outline: none;
  }

  .form label {
    margin: 5px 20px;
  }

  .address h2 {
    text-align: center;
  }

  .form,
  .address {
    width: 100%;
  }

  .address p {
    text-align: center;
    font-weight: 600;
    color: #ccc;
  }

  .location p,
  .phone p,
  .email p {
    text-align: start;
  }

  .social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container {
    background: #f1f1f1;
    padding: 100px 20px;
  }

  .address,
  .form {
    width: 270px;
    height: 440px;
  }

  input {
    width: 85%;
    margin-top: 10px;
    margin-left: 20px;
  }

  .social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .location,
  .phone,
  .email {
    margin-bottom: 30px;
  }

  .location h3,
  .phone h3,
  .email h3 {
    margin: 10px auto;
  }

  .address p {
    text-align: start;
    font-weight: 600;
    color: #ccc;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .address,
  .form {
    width: 400px;
    height: 440px;
  }
  .input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1700px) {
  .address,
  .form {
    width: 460px;
    height: 440px;
  }
  .input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .submit {
    padding: 12px;
    border-radius: 10px;
    width: 95%;
    margin: 15px 8px;
    cursor: pointer;
  }
}
