.project > img {
  width: 250px;
  height: 200px;
}

.project {
  margin: 15px;
  border-radius: 5px;
  width: 250px;
  height: 200px;
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.525));
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3), 3px 3px rgba(0, 0, 0, 0.1);
  transition: transform 10ms ease-in;
}

.project:hover {
  color: white;
  background-color: #f64c08;
  transform: scale(1.05);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project_content {
  padding: 10px;
}
.project_content > h4 {
  padding-bottom: 5px;
}
.project_content > p {
  font-size: 15px;
}
